<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">
            <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1652439085378x198344539532689280%2Flogo%2520feh%25C3%25A9r.png?w=384&h=58&auto=compress&dpr=1&fit=max">
        </a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/companies">Partners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/coupons">Coupons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/history">Coupon history</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>