<div id="about">
    <div id="aboutContent" class="aboutcontent">
            <div class="row" style="margin-top: 20px;">
                <div class="col profileimg"><img src="assets/me.jpg"></div>
            </div>
            <div class="row">
                <div class="col">
                    <h4>Gyöngyösi Péter</h4>
                </div>
            </div>
            <div class="row">
             <div class="col">
                    <h5><i>Business logic implementation, design</i></h5>
                </div>

            </div>
            <div class="row longtext">
                <div class="col">
                    <p>
                        Dear Visitor! This project was created & implemented for the DIVERZUM startup as an interview task.
                    This application stores the companies/partners, coupons in NoSQL database (MongoDB).
                    </p>
                </div>

            </div>
            <div class="row feedback">
                <div class="col">
                    <h5>Send your feedback to the following e-mail:
                        <a href="mailto:gyongy97@gmail.com">gyongy97@gmail.com</a>
                    </h5>
                </div>
            </div>
    </div>
</div>